os:
  - linux
before_install:
  - "export DISPLAY=:99.0"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
before_script:
  - sudo add-apt-repository -y ppa:ubuntu-wine/ppa
  - sudo apt-get update -qq
  - sudo apt-get install -y binutils-mingw-w64-i686
  - sudo apt-get install -y gcc-mingw-w64-i686
  - sudo apt-get install -y wine1.7
  - sudo apt-get install -y binfmt-support
  - sudo apt-get install -y libxml2-dev libc6-dev
  - sudo apt-get build-dep -y python-all python-all-dev
  - sudo apt-get build-dep -y libxml2-dev libc6-dev
language: c
compiler:
  - gcc
script:
  - cd code
  - unset CC
  - sudo update-binfmts --disable wine
  - export ARCH=i486
  - ./autogen.sh  --host=i686-w64-mingw32 --build=x86_64-pc-linux --without-python
  - make CPPFLAGS+=-I/usr/include/x86_64-linux-gnu
  #- sudo update-binfmts --enable wine
  #- wineboot
  #- export WINEDEBUG=-all
  #- make tests

notifications:
  email: false
  slack: winezh:BE5bq4pZBesONq09c2GYqYxl
